* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  border: 1px solid white;
  background-color: #DD5D23;
  float: left;
  height: 100px;
  padding: 0;
  width: 100px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game {
  display: flex;
  flex-direction: column;
}

.robot {
  height: 100px;
  width: 100px;
  position: absolute;
}